.aboutTextContainer h1 {
    margin: 10px;
    color: #2F2F2F;
    font-family: 'Roboto', 'Lexend', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.aboutTextContainer p {
        color: #5E5E5E;
        font-family: "Roboto", "Lexend", "Sora";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

@media (max-width: 720px) {

    .aboutComponentContainer {
        padding: 0.5rem;
    }
       
    
.aboutTextContainer h1 {

    font-size: 36px;
    padding: 0;



}
.aboutTextContainer p {
    color: #5E5E5E;
    font-family: "Roboto", "Lexend", "Sora";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

}

