.bannerImage  {
  height: 820px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/assets/cover-image.jpg");
  background-repeat: no-repeat;
  background-size: 1912px 1020px;
  background-attachment: fixed;
  clip-path: circle(180vh at 50% -100vh);
}

.bannerText {
  text-align: center;
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.slide_active {
  opacity: 1;
  transition: all 1s ease;
  transform: scale(1);
}
.sliderContainer img {
  background-size: cover;
  width: 100%;
  height: 580;

}