
.calculatorComponent {
    margin: 10rem 0;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}

.calculatorComponent .title {
  font-size: 36px;
  text-align: center;
}
.container {
  display: flex;
}
.formContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 8px;
    padding: 0.5em;
    border-radius: 5px;
    gap: 20px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
    
}

.formGroup select {

  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  height: 36px;
  min-height: 36px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  outline: 0;
  font-size: 14px;
  cursor: pointer;
}

 .formGroup  input {
  
  padding-left: 12px;
  padding-right: 36px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
  height: 36px;
  min-height: 36px;
  display: block;
  outline: 0;   
}

.formGroup .input_measurement_unit {
  position: relative;
  display: inline-block;
}
.formGroup .label_measurement_unit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: rgb(85, 85, 85);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}

.formGroup .input_weight_unit {
  position: relative;
  display: inline-block;
}
.formGroup .label_weight_unit {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(85, 85, 85);
  font-size: 14px;
  pointer-events: none;
}

.formContainer button {
  width: 100%;
  margin: 8px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  background:  rgb(0, 175, 239);
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 0;
}

.formContainer button:hover {
    background: rgb(0, 103, 177);
}

.formContainer .formGroup .invalid {
    border: 1px solid rgb(213, 21, 11);
}
.formContainer .formGroup .invalid ~ label {
    top: -5px;
    font-size: 13px;
    transform: unset;
    background: rgb(255, 255, 255);
    
}
.formError {
    color: rgb(213, 21, 11);
}



.search {
  margin: 8px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px;    
  border-radius: 5px;
}
.search input {
  margin: 8px;
  padding: 12px;    
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  outline: 0;

}

.products {
  max-height: 400px;
  font-size: 1rem;
  overflow-y: scroll;
}
.product_item {
  margin: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px;
  gap: 0.5rem;
}
.products button {
  padding: 12px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.products .buttonDelete  {
  background: rgb(226, 60, 60);
}
.products .buttonDelete:hover  {
  background: rgb(187, 51, 51);
}


.products .buttonEdit  {
  background: rgb(0, 175, 239);
}
.products .buttonEdit:hover {
   background: rgb(0, 103, 177);
}


.totalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 12px;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px;
}

   span {
    display: block;
    font-size: 1.2rem;
    line-height: 40px;
   }


   .containerInfo {
    margin: 8px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    border-radius: 5px;

  }

  .containerInfo .containerSelectUnit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .containerInfo .containerSelectUnit label {
    font-size: large;
  }


 .containerInfo .selectContainer {
    margin: 8px 0;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    outline: 0;
    cursor: pointer;

}
.containerInfo .selectContainer option {
    background:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

 .imageContainer  {
    width: 480px;
    height: 340px;
    border-radius: 5px;
  }

.containerInfo .containerResult {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 234, 234);
  border-radius: 5px;
}

.containerInfo .containerResult .containerCargoTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.25em;

}

.containerCargoTotalWeight {
    margin: 8px;
    padding: 12px;
    background:  rgb(0, 175, 239);
    color: rgb(234, 234, 234);
    border-radius: 5px;
    font-size: 22px;
    width: 100%;
  }
  
  .labelCargoTotalWeight {
    display: flex;
    align-items: center;
    gap: 8px;

  }
  .containerCargoTotalVolume {
    margin: 8px;
    padding: 12px;
    background:  rgb(0, 175, 239);
    color: rgb(234, 234, 234);
    border-radius: 5px;
    font-size: 22px;
    width: 100%;

  }
  .labelCargoTotalWeight img {
    width: 60px;
    height: 50px;
  }
  .labelCargoTotalVolume {
    display: flex;
    align-items: center;
    gap: 8px;
  
  }
  .labelCargoTotalVolume img {
    width: 60px;
    height: 50px;

  }
  .labelCapacityWeight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

  }
  .labelCapacityWeight span  {
    display: flex;
    gap: 5px;
  }
  .labelCapacityVolume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .labelCapacityVolume span   {
    display: flex;
    gap: 5px;
  }
 
 
  .imageLoader {
    position: relative;
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .spinner {
    border: 12px solid rgb(234, 234, 234); 
    border-top: 12px solid rgb(0, 175, 239);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (max-width: 767px) {
  .search input { 
    width: 80%;
  }

 
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formContainer button {
    margin: 8px;
    padding: 12px;
    width: 80%;
    font-size: 14px;
}

.product_item {
  flex-direction: column;
}

.products button {
  padding: 6px;
}


  .container {
    flex-direction: column;

  }

  .imageContainer {
    margin: 0.5em;
    width: 260px;
    height: 180px;
  }

   .containerInfo .containerResult {
    flex-direction: column;
}
  .containerCargoTotalVolume {
    font-size: 12px;
  }

  .containerCargoTotalWeight {
    font-size: 12px;
  }

  .totalContainer {
    text-align: right;
    font-size: 12px;
  }
     
}
