


.contato {
    background: url("../../public/assets/backgroundContact.jpg") no-repeat center top;  

}

.formContainer {
    margin: 8%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    border-radius: 5px;
}

.formContainer .formInline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-gap: 16px;
}

.formContainer .formGroup {
    position: relative;
    width: 100%;
}



.formContainer .formGroup input {
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    outline: 0;
    width: 100%;
    background: none;
}

.formContainer .formGroup select {
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    outline: 0;
    width: 100%;
    background: none;
}
.formContainer .formGroup textarea {
    margin-bottom: 16px;
    padding: 30px;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    outline: 0;
    resize: none;
    background: none;
}

.formContainer .formGroup label {
    position: absolute;
    top: 30%;
    left: 8px;
    transform: translateY(-30%);
    padding: 0 2px;
    transition: .3s ease;
}
.formContainer .formGroup input:focus ~ label {
    top: -5px;
    font-size: 13px;
    transform: unset;
    background: white;
}

.formContainer .formGroup textarea:focus ~ label {
    top: -5px;
    font-size: 13px;
    transform: unset;
    background: white;
}

.formContainer .formGroup .valid ~ label {
    display: none;
}

.formContainer button {
    margin: 20px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    width: 50%;

}
.formContainer .formGroup .invalid {
    border: 1px solid rgb(213, 21, 11);
    background: url("../../public/assets/error.svg") no-repeat right;
}
.formContainer .formGroup .invalid ~ label {
    top: -5px;
    font-size: 13px;
    transform: unset;
    background: rgb(255, 255, 255);
    
}
.formError {
    color: rgb(213, 21, 11);
}


@media (max-width: 767px) {

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formContainer .formInline {
    display: flex;
    flex-direction: column;
}


    .formContainer input {
        width: 100%;
    }
    
    .formContainer textarea {
      width: 100%;

   }
   
    


}