.contato  {
    margin: 30px;
    padding: 20px 20px;
    background:  rgb(5, 155, 255);
}


.formContainer input, .formContainer textarea {
    margin-top: 15px;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;

}
.formContainer button {
    background:  rgb(5, 155, 255);
}