.container {
    margin: 30px;
    padding: 20px 20px;
    background:  rgb(5, 155, 255);
}
.formContainer {
    background:  rgb(5, 122, 255);
    margin: 10px 20px;
    padding: 10px 20px;
}
.formContainer input {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: none;

}
.formContainer button {
    background:  rgb(5, 155, 255);
}
.info_container {
    margin: 30px;
    background:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
}
table {
    border-collapse: collapse;
}

th, td {
     border: 1px solid rgb(5, 155, 255);
     padding: 10px;

}

.listContainer {
    background: rgb(255, 255, 255);
    margin: 10px 20px;
    padding: 10px 20px;
}

.listContainer button {
    background: rgb(226, 60, 60);
}
.totalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background: rgb(255, 255, 255);
}
.pesoAllProdutos {
    background: blue;
}
.pesoAllVolume {

    background: red;

}
