.container {
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}
.formContainer {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    
}
.formContainer input {
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid rgb(204, 204, 204)

}
.formContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.containerErrorNome {
    position: absolute;
    margin: -0.5rem 27rem;
    padding: 1.5px 0;
} 

.formContainer .invalid {
    border: 1.5px solid rgb(240, 19, 11);
  
}
.formContainer .valid {
    border: 1.5px solid rgb(204, 204, 204);
  
}
.formError {
    color: rgb(240, 19, 11);
}
.formContainer button {
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border: 0;
}
.calculadoraContent {
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.info_container {
    margin: 10px;
    padding: 15px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.info_container  img {
  margin: 8px;
   width: 400px;
   height: 300px;
}
.info_container select {
    margin: 8px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid  rgb(0, 146, 199);
    background-color:  rgb(0, 175, 239);
    width: 100%;

}
.info_container select option {
    margin: 8px;
    padding: 10px;
    background:  rgb(255, 255, 255);

}

.searchContent {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;    

}
.searchContent input {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204)

}
.listProducts {
    max-width: 800px;
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
}
.listProducts::-webkit-scrollbar {
    width: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
}
.listProducts::-webkit-scrollbar-thumb {
    background-color:  rgb(0, 175, 239);
    border: 1px solid  rgb(0, 146, 199);
    border-radius: 20px;
}
.listProducts .content {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}
.listProducts .infoProduct {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.listProducts .infoTotalProduct {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.listProducts .buttonEdit {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border: 0;
}

.listProducts .buttonDelete {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
    border: 0;

}
.totalContainer {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
   
}


@media (max-width: 720px) {

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }
    .listProducts .content {
        display: flex;
        flex-direction: column;

    }
    .info_container  img {
         width: 300px;
         height: 200px;

      }

      .info_container .message {
    
       width: 350px;
        
    }
    .totalContainer {
       font-size: 12px;
       
    }


   
}
