.container {
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}
.formContainer {
    border: 1px solid rgb(204, 204, 204);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    
}
.formContainer input {
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid rgb(204, 204, 204)

}
.formContainer input:focus {
    border: 1.5px solid rgb(0, 175, 239);

}
.formContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.containerErrorNome {
    position: absolute;
    margin: -0.5rem 27rem;
    padding: 1.5px 0;
} 

.formContainer .invalid {
    border: 1.5px solid rgb(240, 19, 11);
    background-image: url('../../public/icons/buttonError.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  
}

.nameError {
    color: rgb(240, 19, 11);
    position: absolute;
    left: 440px;
    bottom: 4px;
}
.quantityError {
    color: rgb(240, 19, 11);
    position: absolute;
    left: 640px;
    bottom: 4px;
}
.pesoError {
    color: rgb(240, 19, 11);
    position: absolute;
    left: 880px;
    bottom: 4px;
}
.volumeError {
    color: rgb(240, 19, 11);
    position: absolute;
    left: 1080px;
    bottom: 4px;
}
.formContainer button {
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border: 0;
}
.formContainer button:hover {
    background-color: rgb(0, 140, 196);
}
.calculadoraContent {
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.info_container {
    margin: 10px;
    padding: 15px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.info_container  img {
  margin: 8px;
   width: 400px;
   height: 300px;
}
.info_container select {
    margin: 8px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid  rgb(0, 146, 199);
    background-color:  rgb(0, 175, 239);
    width: 100%;

}
.info_container select option {
    margin: 8px;
    padding: 10px;
    background:  rgb(255, 255, 255);

}

.searchContent {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;    

}
.searchContent input {
    margin: 8px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204)

}
.searchContent input:focus {
        border: 1.5px solid rgb(0, 175, 239);

}
.listProducts {
    max-width: 800px;
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
}
.listProducts::-webkit-scrollbar {
    width: 0.62rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0.5rem;;
}
.listProducts::-webkit-scrollbar-thumb {
    background-color:  rgb(0, 175, 239);
    border: 1px solid  rgb(0, 146, 199);
    border-radius: 0.5rem;
}
.listProducts .content {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}
.listProducts .infoProduct {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.listProducts .infoTotalProduct {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.listProducts .buttonEdit {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border: 0;
}

.listProducts .buttonDelete {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
    border: 0;

}
.totalContainer {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
   
}
.containerMessage {
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border-color: rgb(245, 198, 203);


}
.loader {
   display: flex;
   align-items: center;
   justify-content: center;
 }

/* SVG spinner icon animation */
 .spinner {
   -webkit-animation: rotate 2s linear infinite;
           animation: rotate 2s linear infinite;
   width: 30px;
   height: 30px;
 }

 .spinner .path {
   stroke: rgb(0, 140, 196);
   stroke-linecap: round;
   -webkit-animation: dash 1.5s ease-in-out infinite;
           animation: dash 1.5s ease-in-out infinite;
 }
 
 @-webkit-keyframes rotate {
   100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }
 
 @keyframes rotate {
   100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }
 @-webkit-keyframes dash {
   0% {
     stroke-dasharray: 1, 150;
     stroke-dashoffset: 0;
   }
   50% {
     stroke-dasharray: 90, 150;
     stroke-dashoffset: -35;
   }
   100% {
     stroke-dasharray: 90, 150;
     stroke-dashoffset: -124;
   }
 }
 @keyframes dash {
   0% {
     stroke-dasharray: 1, 150;
     stroke-dashoffset: 0;
   }
   50% {
     stroke-dasharray: 90, 150;
     stroke-dashoffset: -35;
   }
   100% {
     stroke-dasharray: 90, 150;
     stroke-dashoffset: -124;
   }
 }
 
@media screen and (max-width: 768px) {

    .formContainer {
       width: 80%;
       margin: 20px 60px;
       

    }
    .listProducts .content {
        display: flex;
        flex-direction: column;

    }
    .info_container  img {
         width: 300px;
         height: 200px;

      }

      .info_container .message {
    
       width: 350px;
        
    }
    .totalContainer {
       font-size: 12px;
       
    }
    .nameError {
        position: absolute;
        left: 270px;
        top: 65px;
    }
    .quantityError {
        position: absolute;
        left: 260px;
        top: 125px;
    }
}

