
footer {
    background:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mediaSocial a {
    display: block;
    align-items: center;
}
