
footer {
    width: 100%;
    background:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
}

footer .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}



footer .mediaSocial {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer .facebookIcon {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
}

footer .instagramIcon {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
}


footer .linkedinIcon {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
}

@media screen and (max-width: 840px) {

    
}
