.incotermsComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}
.incotermsLeft, .incotermsRight {
  display: flex;
  flex-direction: column;
  margin: 10px;

}
.incotermsLeft, .selectedIncoterm{
 margin-bottom: 200px;
 padding: 20px;
}
.incotermStages {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
}
.inco {
  margin: 8px 25px;
  display: flex;
  gap: 5rem;
  
}
.incotermStage {
    display: flex;
    width: 100%;
    background-color: #e1e8fa;;
    border-radius: 0.25rem;
}
.factory__bar , .customer__bar {
    display: flex;
    padding: 0.5rem 1rem;
}
.customer__bar {
  justify-content: flex-start;
}

.factory__bar {
  color: rgb(0, 0, 0);
  justify-content: flex-end;
}

.incotermStage__cost .factory__bar {
  background-color: #edc13b;
  border-radius: 0.25rem;

}
.incotermStage__risk .factory__bar {
  background-color: #6b7799;
  border-radius: 0.25rem;

}
.incotermStage__safety .factory__bar {
  background-color: #30bb50;
  border-radius: 0.25rem;

}

.captions {
    display: flex;
    align-items: center;
    justify-content: end;

}
.captions__cost,
.captions__risk,
.captions__safety {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.square {
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
  }
  .captions__cost .square {
    background-color: #edc13b;
  }
  .captions__risk .square {
    background-color: #6b7799;
  }
  .captions__safety .square {
    background-color: #30bb50;
  }
  .incotermTitle {
    margin: 15px 0;
  }
  .incotermsInformations {
    display: flex;
    gap: 0.8rem;
  }
  .incotermsInformations span {
    margin: 5px;
    font-size: 16px;
  }

@media (max-width: 720px) {

  .incotermsComponent {
    flex-direction: column;
  
  }
  .incotermsLeft {
    flex-direction: row;

  
  }
  .incotermStages {
    width: 90%;
    margin: 0 50px;
   }
  .captions {
    margin: 20px;
    
  }
  .inco {
    background-color: red;
    gap: 5px;
  }
 
    
    

}

