.incotermsComponent {
  padding-top: 120px;
}


.incotermsContainer {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}
.incotermsLeft, .incotermsRight {
  display: flex;
  flex-direction: column;

}
.incotermsLeft, .selectedIncoterm{
 margin-bottom: 180px;
 padding: 20px;
}
.selectedIncoterm:focus {

    border: 1.5px solid rgb(0, 175, 239);
}
.inco {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5em;
   
}

.incotermStage {
    display: flex;
    width: 100%;
    background-color: rgb(166, 219, 238);
    border-radius: 0.25rem;
}
.factory__bar , .customer__bar {
    display: flex;
    padding: 0.5rem 1rem;
}
.customer__bar {
  justify-content: flex-start;
}

.factory__bar  {
  color: rgb(0, 0, 0);
  justify-content: flex-end;
}
.incotermStage__cost .factory__bar {
  background-color: rgb(0, 140, 196);
  border-radius: 0.25rem;
}

.costStage0, .riskStage0 {
  width: calc(calc(100% / 27) * 2);
}
.costStage1, .riskStage1 {
  width: calc(calc(100% / 22.5) * 4);
}

.costStage2, .riskStage2 {
  width: calc(calc(100% / 21 ) * 6);
}
.costStage3, .riskStage3 {
  width: calc(calc(100% / 20) * 8);
}
.costStage4 {
  width: calc(calc(100% / 13.5) * 8);
}

.costStage5, .riskStage5, .safetyStage5 {
  width: calc(calc(100% / 16.9) * 12 );
}
.costStage6, .riskStage6, .safetyStage6 {
  width: calc(calc(100% /  17) * 14 );
}
.costStage7, .riskStage7, .safetyStage7 {
  width: calc(calc(100% / 19.5) * 16 );
}
.costStage8, .riskStage8, .safetyStage8 {
  width: calc(calc(100% / 18) * 18 );
}
.captions {
    display: flex;
    align-items: center;
    justify-content: end;

}
.caption__seller,
.caption__buyer,
.caption__transferRisk {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.gary  {
  position: absolute;
  top: 40.5%;
  border-left: 6px dotted rgb(204, 201, 201);
  border-right: 0;
  height: 100px;
  
}
.gary0 {
  left: 15%;
}
.gary1 {
  left: 24.5%;
}
.gary2 {
  left: 34.2%;
}
.gary3 {
  left: 44.7%;
}
.gary4 {
  left: 62.2%;
}
.gary4 {
  left: 62.2%;
}
.gary5 {
  left: 73%;
}
.gary6 {
  left: 83%;
}
.transferRisk {
  position: absolute;
  
}
.transferRisk0 {
  left: 14.4%;
}
.transferRisk1 {
  left: 23.8%;
}
.transferRisk2 {
  left: 33.5%;
}
.transferRisk3 {
  left: 44%;
}
.transferRisk4 {
  left: 72.3%;
}
.transferRisk5 {
  left: 82.3%;
}
.square {
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
  }
  .caption__seller .square {
    background-color: rgb(0, 140, 196);
  }
  .caption__buyer .square {
    background-color: rgb(166, 219, 238);
  }
  .incotermsInformations {
    margin: 50px;
    display: flex;
    gap: 0.8rem;
  }
  .incotermsInformations span {
    margin: 5px;
    font-size: 16px;
  }