.incotermsComponent {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
}
.incotermsLeft, .incotermsRight {
  display: flex;
  flex-direction: column;
  margin: 10px;

}
.incotermsLeft, .selectedIncoterm{
 margin-bottom: 200px;
 padding: 20px;
}
.incotermStages {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
}
.inco {
  margin: 8px;
  display: flex;
  gap: 4rem;
  
}
#line1 {
  position: absolute;
  border: none;
  border-left: 2.5px dashed  rgb(206, 206, 206);
  height: 250px;
  top: 130px;
  left: 323px;
}
#line2 {
  position: absolute;
  border: none;
  border-left: 2.5px dashed  rgb(206, 206, 206);
  height: 250px;
  top: 130px;
  left: 490px;
}
#line3{
  position: absolute;
  border: none;
  border-left: 2.5px dashed  rgb(206, 206, 206);
  height: 250px;
  top: 130px;
  left: 610px;
}
#line4{
  position: absolute;
  border: none;
  border-left: 2.5px dashed  rgb(206, 206, 206);
  height: 250px;
  top: 130px;
  left: 750px;
}
#line5{
  position: absolute;
  border: none;
  border-left: 2.5px dashed  rgb(206, 206, 206);
  height: 250px;
  top: 130px;
  left: 800px;
}

.incotermStage {
    display: flex;
    width: 100%;
    background-color: #e1e8fa;;
    border-radius: 0.25rem;
}
.factory__bar , .customer__bar {
    display: flex;
    padding: 0.5rem 1rem;
}
.customer__bar {
  justify-content: flex-start;
}

.factory__bar  {
  color: rgb(0, 0, 0);
  justify-content: flex-end;
}
.incotermStage__cost .costStage0 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 25) * 2);
}
.incotermStage__risk .riskStage0 {
  background-color: #6b7799;
  border-radius: 0.25rem;
  width: calc(calc(100% / 25) * 2);
}
.incotermStage__cost .costStage1 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 32) * 4);
}
.incotermStage__risk .riskStage1 {
  background-color: #6b7799;
  border-radius: 0.25rem;
  width: calc(calc(100% / 32) * 4);
}

.incotermStage__cost .costStage2 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 23 ) * 6);
}
.incotermStage__risk .riskStage2 {
  background-color: #6b7799;
  border-radius: 0.25rem;
  width: calc(calc(100% / 23) * 6);

}
.incotermStage__cost .costStage2 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 23 ) * 6);
}

.incotermStage__cost .costStage3 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 21.5) * 8);
}
.incotermStage__risk .riskStage3 {
  background-color: #6b7799;
  border-radius: 0.25rem;
  width: calc(calc(100% / 21.5) * 8);

}
.incotermStage__cost .costStage4 {
  background-color: #edc13b;
  border-radius: 0.25rem;
  width: calc(calc(100% / 17) * 8);
}

.costStage5, .riskStage5, .safetyStage5 {
  width: calc(calc(100% / 20) * 12 );
}
.costStage6, .riskStage6, .safetyStage6 {
  width: calc(calc(100% / 22) * 14 );
}
.costStage7, .riskStage7, .safetyStage7 {
  width: calc(calc(100% / 20.55) * 16 );
}
.costStage8, .riskStage8, .safetyStage8 {
  width: calc(calc(100% / 18) * 18 );
}
.captions {
    display: flex;
    align-items: center;
    justify-content: end;

}
.captions__cost,
.captions__risk,
.captions__safety {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.square {
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
  }
  .captions__cost .square {
    background-color: #edc13b;
  }
  .captions__risk .square {
    background-color: #6b7799;
  }
  .captions__safety .square {
    background-color: #30bb50;
  }
  .incotermTitle {
    margin: 15px 0;
  }
  .incotermsInformations {
    display: flex;
    gap: 0.8rem;
  }
  .incotermsInformations span {
    margin: 5px;
    font-size: 16px;
  }

@media screen and (max-width: 768px) {

  .incotermsComponent {
   
   width: 50%;
  }
  .incotermsLeft, .selectedIncoterm{
    margin: 50px;
    padding: 20px;
   }
  .incotermStages {
    width: 98%;
    margin: 8px;
   }
  .captions {
    margin: 20px;
    
  }
  .inco {
    gap: 7px;
  }
  .costStage0, .riskStage0, .safetyStage0  {
    width: calc(calc(100% / 16) * 2);
  }
  .costStage1, .riskStage1, .safetyStage1  {
    width: calc(calc(100% / 10) * 2);
  }
  .costStage2 {
    width: calc(calc(100% / 13) * 6);
  }
  .riskStage2, .safetyStage2 {
    width: calc(calc(100% / 15 ) * 6);
  }
  .costStage3, .riskStage3, .safetyStage3 {
    width: calc(calc(100% / 16) * 8);
  }
  .costStage4, .riskStage4, .safetyStage4 {
    width: calc(calc(100% / 15) * 10);
  }
  .costStage5, .riskStage5, .safetyStage5 {
    width: calc(calc(100% / 16) * 12 );
  }
  .costStage6, .riskStage6, .safetyStage6 {
    width: calc(calc(100% / 20) * 14 );
  }
  .costStage7, .riskStage7, .safetyStage7 {
    width: calc(calc(100% / 19) * 16 );
  }

}