select {
    margin: 8px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid  rgb(0, 146, 199);

}

.searchContent {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 32px 0px;
    margin: 40px 120px;
    padding: 10px;
    border-radius: 5px;
}
.searchContent input {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204)

}
.searchContent button {
    margin: 8px;
    padding: 12px;
    border-radius: 50px;
    background-color:  rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border: 0
}

.listPorts{
    max-width: 800px;
    max-height: 300px;
    overflow-y: scroll;
}
.listPorts::-webkit-scrollbar {
    width: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
}
.listPorts::-webkit-scrollbar-thumb {
    background-color:  rgb(0, 175, 239);
    border: 1px solid  rgb(0, 146, 199);
    border-radius: 20px;
}
.listPorts .content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.infoPorts {
    display: flex;
    align-items: center;
    
    margin: 10px;
}

