.message {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}
.sucess {
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border-color: rgb(195, 230, 203);
}
.error {
    color:rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border-color: rgb(248, 215, 218);
}