.tax-collection-component {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}
.tax-collection-component .tax-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 80px;

}
.tax-unit-component {
    display: flex;
    gap: 1rem;
}
.tax-unit-component .currency-container {
    display: flex;
    align-items: center;
}
.tax-unit-component .currency {
    font-size: 20px;
    color: rgb(255, 255, 255);
    
  

}
.tax-unit-component .text {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.tax-unit-component .text .name {
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin: 8px 20px;

}
.tax-unit-component .value-container {
    gap: 20px;
    color: rgb(255, 255, 255);
}
.tax-unit-component .text .value-container .value {
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}