.tax_collectionComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(2 103 177);
}
.tax_collectionComponent .taxWrapper  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 80px;
}

.tax_unitComponent{
    display: flex;
    gap: 1rem;
}
.tax_unitComponent .currency {
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.text {
    display: flex;
      flex-direction: column;
      gap: .25rem;
}
.tax_unitComponent .text .name {
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin:  0 20px;

}
.tax_unitComponent .valueContainer {
    display: flex;
    gap: 20px;
    color: rgb(255, 255, 255);
}
.tax-unit-component .text .valueContainer .value {
    font-size: 20px;
}
.tax_unitComponent .text  .valueContainer .variation {
    font-size: 15px;
    border-radius: 10px;
}
.success {

    background-color: rgb(32 198 52)
}
.danger {
    background-color: rgb(213 21 11)

}

