.tax_collectionComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 140, 196);
}
.tax_collectionComponent .taxWrapper {
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 110px;

}
.tax_unitComponent {
    display: flex;
    gap: 1rem;
}
.tax_unitComponentt .currency-container {
    display: flex;
    align-items: center;
}
.tax_unitComponent .currency {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
  

}
.tax_unitComponent .text {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.tax_unitComponent .text .name {
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.tax_unitComponent .currencyContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tax_unitComponent .valueContainer .value {
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.variation {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 400;
}
.success{
    border-radius: 5px;
    background-color: rgb(75, 181, 67);
    color: rgb(255, 255, 255);
  }
.danger {
    border-radius: 5px;
    background-color: rgb(222 44 44);
    color: rgb(255, 255, 255);
  }
.tax-unit-component .text .value-container .value {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
a:hover {
    background-color: rgba(255, 255, 255, 0.267);
}
