.tax-collection-component {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.tax-collection-component .tax-wrapper {
    display: flex;
    align-items: center;
    padding: 80px;

}
.tax-unit-component {
    display: flex;
    gap: 1rem;
}
.tax-unit-component .currency-container {
    display: flex;
    align-items: center;
}
.tax-unit-component .currency {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
  

}
.tax-unit-component .text {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.tax-unit-component .text .name {
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.tax-unit-component .value-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.variation {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 400;
}
.success{
    color: #4BB543;
  }
.danger {
    color: #DE2C2C;
  }
.tax-unit-component .text .value-container .value {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}