* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0.62rem;
  background-color: rgb(255, 255,  255);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 175, 239);
  border: 1px solid rgb(2 103 177);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(2 103 177);
  border: 1px solid rgb(255, 255, 255);

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}


section {
  height: 160vh;
}


/* O site fora do ar /
/*

section {
  height: 220vh;
}

*/



